@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

body{
    margin : unset;
    background-color: rgb(46, 43, 39);
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height : 80vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url('img/backboard.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width : 50%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgba(1, 19, 2, 0.815);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

section > h1 {
    color: rgb(255, 255, 255);
    font-family: Solitreo;
    font-size: 40px;
}

section #calculator {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section #calculator #firstLine {
    display: flex;
    gap: 10px;
    margin: 50px;
}

section #calculator #firstLine input, #secondLine input {
    background-color: rgb(1, 22, 1);
    width: 50%;
    height: 20px;
    border-radius: 8px;
    font-family: Solitreo;
    font-size: 20px;
    color: white;
}

#operators-list {
    background-color: rgb(1, 22, 1);
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

#secondLine {
    display: flex;
    gap: 10px;
    align-items: center;
}

#secondLine input {
    width: 100px;
}

#secondLine #equal {
    color: white;
    font-size: 70px;
    font-family: solitreo;
}

#secondLine #button {
    background-color: rgb(1, 22, 1);
    color: white;
    height: 30px;
    border-radius: 5px;
}

#button:hover {
    background-color: green;
}